{% extends "base.html" %}
{% include "header.html" %}


{% block content %}

<div class="container">


    <div class="row"> 
        <div class="col-md-12 well">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control input-lg" id="inputEmail3" placeholder="Sum">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <select class="form-control input-lg">
                            <option>Mat</option>
                            <option>Bostad</option>
                            <option>Medecin</option>
                            <option>Presenter</option>
                            <option>Övrigt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-block btn-primary btn-lg">Add bill</button>
                    </div>
                </div>
            </form>
        </div>
    </div>    


    <div class="row">
        <div class="col-md-6 well">
            <h2>People</h2>

            <table class="table">
                <tr>
                    <th>I am</th>
                    <th coolspan="2">Name</th>
                    <th></th>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-star"></span></td>
                    <td>Linus</td>
                    <td><button type="button" class="close" aria-hidden="true">&times;</button></td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="linus"></td>
                    <td>Tina</td>
                    <td><button type="button" class="close" aria-hidden="true">&times;</button></td>
                </tr>
            </table>
        </div>

        <div class="col-md-6 well">
            <h2>Summary</h2>
        </div>

    </div>    
</div>

{% endblock %}